header.header
  a.header__logo.logo(href='#')
    img.logo__image(src='/img/icons/logo-image-only.svg', alt='Typoteka logo')
    span.logo__name Typoteka
  button.button.button--colored.header__button-new New article
  .header__dropdown
    a.button.button--burger.header__burger(href='#') Show menu
    ul.navigation.header__navigation
      li.navigation__item
        a(href='main.html') Menu item
      li.navigation__item
        a(href='main.html') Menu item
      li.navigation__item
        a(href='main.html') Menu item
      li.navigation__item
        a(href='main.html') Menu item
  a.header__search.button.button--search(href='/search', aria-label='search')
