extends shared/layout
block body
  body
    .wrapper-color
      header.header.header--error
        a.header__logo.header__logo--404.logo(href='#')
          img(src='/img/icons/logo.svg', alt='Typoteka logo')
        a.header__registration(href='#') Registration
        a.header__enter(href='#') Login
        a.header__search.button.button--search(href='/search', aria-label='Search')
      main
        h1.visually-hidden Error 404
        section.error
          h2.error__title.title.title--big This page doesn't exist.
          a.error__link.text.text--big(href='main.html') Back to the home page.
      include shared/footer
    include shared/scripts
