extends shared/layout
block body
  body
    .wrapper-color
      header.header.header--error
        a.header__logo.header__logo--500.logo(href='#')
          img(src='/img/icons/logo.svg', alt='Typoteka logo')
        a.header__registration(href='#') Registration
        a.header__enter(href='#') Login
        a.header__search.button.button--search(href='/search', aria-label='Search')
      main
        h1.visually-hidden Ошибка 500
        section.error.error--500
          h2.error__title.title.title--big Something went wrong.
          p.error__text.text.text--big Please try again. If it still doesn't work, please contact support.
          a.error__link.text.text--big(href='main.html') Back to the home page.
      include shared/footer
    include shared/scripts
