extends shared/layout
block body
  body
    .wrapper.wrapper--nobackground
      include shared/header
      main.main-page.main-page--padding
        section.main-page__notes.notes
          h1.notes__title My articles
          ul.notes__list
            each article of articles
              li.notes__list-item
                time.notes__item-time(datetime=article.createdDate) #{article.createdDate}
                - const articleLink = '/articles/' + article.id;
                a.notes__item-text(href=articleLink) #{article.title}
                button.notes__button.button.button--close-item(type='button')
                  span.visually-hidden Close
      include shared/footer
    include shared/scripts
