extends shared/layout
block body
  body
    .wrapper-color
      include shared/header
      main
        section.search-page
          .search-page__wrapper
            h1 Поиск
            .search.search-page__form
              form(action='/search', method='get')
                label
                  input(type='text', name='query', placeholder='Search query')
                button.search__button.button.button--transparent(type='submit') Find
              if query
                if articles && articles.length
                  each article of articles
                    div.search__result
                      time.search__date(datetime=article.createdDate) #{article.createdDate}
                      a.search__link(href=`/articles/${article.id}`) #{article.title}
                else
                  p.search-page__empty Nothing was found
      include shared/footer
    include shared/scripts
